<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>asdasd</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
    <div id="content-wrapper">
   <div id="banner"><h1>Todo-list</h1></div> 
    <p id="add-input-error"> <%= error %> </p>
<div id="content-box">
    <%- include("add.ejs") %>      

   
 <% for(let i = 0; i < data.length; i++){
        %> 
        <div class="todo-box">
        <span class="todo-item"> <%= data[i].name %> </span> 
        <div class="link-box">
        <a href="/delete/<%= data[i]._id %>" > delete</a>
        <a href="/edit/<%= data[i]._id %>" > edit</a>
    </div>
        </div>
    
     <% } %>
    
    </div>
    <% if (todoEdit != ""){ %>

        <%- include("edit.ejs") %>
  <%  } %>
</div>
</body>
</html>