<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> hej</h1>

    <%- include("add.ejs") %>       <p> <%= error %> </p>
    <% if (Todoedit != ""){ %>

        <%- include("edit.ejs") %>
  <%  } %>
   
 <% for(let i = 0; i < data.length; i++){
        %> <p> <%= data[i].name %> </p> 
        <a href="/delete/<%= data[i]._id %>" > delete</a>
        <a href="/edit/<%= data[i]._id %>" > edit</a>
        

    
     <% } %>
    
   

</body>
</html>